@using DreamMusic.Models
@model LoginUser

<h1>Login</h1>
<form asp-action="Login" asp-controller="Home" method="post">
    <div class="form-group">
        Email:
        <span asp-validation-for="LoginEmail" style="color:red;"></span>
        <input type="email" asp-for="LoginEmail" class= "form-control">
    </div>
    <div class="form-group">
        Password:
        <span asp-validation-for="LoginPassword" style="color:red;"></span>
        <input type="text" asp-for="LoginPassword" class="form-control" type="password">
    </div>
    <div class="form-group text-center">
        <input type="submit" class="btn btn-primary" value="Login!">
    </div>
</form>